@import "../../../styles/base";

.phones__container {
  // background-image: url("../../../assets/diagonal.svg");
  width: 375px;
  height: 433px;
  position: relative;

  @media (min-width: 400px) {
    margin: 0 auto;
  }

  &--1 {
    @media (min-width: 390px) {
      display: none;
    }

    img {
      position: absolute;
      top: -33px;
      left: 0;
      margin-bottom: 10px;
    }
  }

  &--2 {
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
