$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;

$font-size-smallest: 12px;
$font-size-small: 14px;
$font-size-medium: 15px;
$font-size-mediumX: 16px;
$font-size-big: 20px;
$font-size-bigger: 24px;
$font-size-largest: 28px;
