@import "../../../styles/base";

.slider__card {
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(57, 53, 60, 0.08);
  border-radius: 16px;
  width: 319px;
  height: 607px;
  padding: 16px;

  &--paragraph {
    font-weight: 400;
    font-size: $font-size-mediumX;
    line-height: 24px;
    color: #22222c;
    max-width: 287px;
    margin: 16px 0;
  }
}

.stars {
  margin: 18px 0 6px 0;
}

.slider__card--title {
  font-weight: 600;
  font-size: $font-size-medium;
  line-height: 20px;
  letter-spacing: -0.4px;
}

.slider__card--address {
  font-weight: $font-weight-regular;
  font-size: $font-size-smallest;
  line-height: 18px;
  opacity: 0.64;
}
