@import "../../../styles/base";

.FAQ {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 40px 16px 0 16px;

  @media (min-width: 600px) {
    min-width: 726px;
    margin-top: 96px;
  }

  &__header {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin: 0;

    @media (min-width: 600px) {
      text-align: center;
    }
  }
}
